
#img-summary {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: cornsilk;
}

.btn-summary{
    margin-top: 50px;
}

.btn-summary p{
    margin-top: 25px;
}

h1 {
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
    height: 250px;
}

.information-platform{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}