
/*body {
    background-color: red;
}*/

.sizeCard {
    width: 200px;
    height: 150px
}

.cardsSpace {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    align-items: stretch;
}

.split-para {
    display: block;
    margin: 10px;
}

.split-para span {
    display: block;
    float: right;
    width: 50%;
    margin-left: 10px;
}

.textL {
    overflow: hidden; /* ✔️ Required for ellipsis to appear */
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap; /* ✔️ Required for ellipsis to appear */
    display: inline-block;
}

.for_slick_slider {
    display: flex;
}

.imgClass{
    margin-right: 10px;
    margin-left: 10px;
}

.items {
    width: 350px;
    height: 250px;
    margin: 50px;
}

.items .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    background: rgba(0, 0, 0, 0.64);
}

.for_slick_slider .slick-center .overlay {
    opacity: 0;
}

img {
    width: 100%;
    height: 150px;
    transition: all linear .4s;
}

.for_slick_slider .slick-center .card{
    transform: scale(1.2);
}