@model PlatformDetailsViewModel

@{
    ViewData["Title"] = "Platform";
}

<html>
    <head>
        <link rel="stylesheet" href="~/css/platformDetails.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
        <body>
            <h1>Platform Name</h1>
            <div id="img-summary">
                <img src="~/images/1.jpg"/>
                <div class="btn-summary">
                <button> <i class="fa-solid fa-gamepad"></i> All Games</button>
                <button> <i class="fa-solid fa-star"></i> Best Games</button>
                <p>Summary:</p>
                </div>
            </div>
            <div class="information-platform">
                <p>Release Dates:</p>
                <p>Generation:</p>
                <p>Platform Type:</p>
                <p>Product Family:</p>
                <p>Alternative Name:</p>
            </div>
        </body>
</html>