@model IEnumerable<PlatformsViewModel>

@{
    ViewData["Title"] = "AllPlatforms";
}

<h1>All Video Game Platforms</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/platforms.css" />
</head>
<body>
    <div class="container">
        <div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div><div class="platform">
            <img src="~/images/8.jpg" />
            <div class="side-text">
                <h2><a href="#">Name Platform</a></h2>
                <p>Most recent version:</p>
                <p>22nd of February, 2023</p>
            </div>
        </div>
        
    </div>

</body>
</html>