@model IEnumerable<PlatformsViewModel>

@{
    ViewData["Title"] = "AllPlatforms";
}

<h1>All Video Game Platforms</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/platforms.css" />
</head>
<body>
    <div class="container">
        @foreach (var platform in Model)
        {
            <div class="platform">
                <img src="//images.igdb.com/igdb/image/upload/t_cover_small/@(platform.PlatformLogoInfo.Id).png" alt="No logo">
                <div class="side-text">
                    <h2><a asp-controller="Game" asp-action="ReturnPlatform" asp-route-id="@platform.Id">@platform.Name</a></h2>
                    <p>Last Updated at:</p>
                    <p>@platform.UpdatedAt.Value.ToString("yyyy-MM-dd")</p>
                </div>
            </div>
        }
    </div>

</body>
</html>