@model PlatformsViewModel

@{
    ViewData["Title"] = "AllPlatforms";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
        <div class="platform">
            <img src="~/images/8.jpg" />
            <h2>Name Platform</h2>
            <p>Most recent version:</p>
            <p>22nd of February, 2023</p>
        </div>
    </div>

</body>
</html>