@model IEnumerable<GamesIGDBViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ReturnAllGames";
}

<h1>All Games</h1>

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>   
           <div class="album py-5 bg-light">
               <div class="container">
                   <div class="row">
                   @foreach (var game in Model)
                   {
                        <div class="col-md-4">
                            <div class="card mb-3 box-shadow">
                                <h3 style="text-align: center;">@game.Name</h3>
                                <img src= "@game.CoverUrl.Url" width: 30%; margin-left: auto; margin-right: auto; display: block;/>
                                <div class="card-body">
                                    <p class="card-text"><strong>Summary:</strong> <br /> @game.Summary</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button class="btn btn-outline-info"> <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">Details</a></button>                                       
                                            <button type="button" class="btn btn-outline-warning">Edit</button>
                                            <button type="button" class="btn btn-outline-danger">Delete</button>
                                        </div>
                                        <small class="text-body-secondary">30% off</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                   }
                   </div>
               </div>
           </div>
    </tbody>
</table>
