@model IEnumerable<GamesIGDBViewModel>



<h2 class="title-recently-released">Recently released</h2>
<div class="container-card3D">
    <div style="flex-basis: 1090px" class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
               
                <h2>
                    Model[1].Name
                </h2>
                <p>Web Designer, USA</p>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="~/images/8.jpg">
                <h1>Nissan <span>350z</span></h1>
                <p>
                    Web Designer, USA Web Designer, <span>microsoft</span>USA Web Designer, USA Web Designer,
                    USA Web Designer, USA Web Designer, USA Web Designer, USA
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>250</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button> <a asp-asp-controller="Game" asp-action="">follow</a></button>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <h2>Nissan 350z</h2>
                <p>Web Designer, USA</p>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="~/images/8.jpg">
                <h1>Nissan <span>350z</span></h1>
                <p>
                    Web Designer, USA Web Designer, <span>microsoft</span>USA Web Designer, USA Web Designer,
                    USA Web Designer, USA Web Designer, USA Web Designer, USA
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>250</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button>follow</button>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div style="flex-grow: 12" class="front3D">
                <h2>Nissan 350z</h2>
                <p>Web Designer, USA</p>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="~/images/8.jpg">
                <h1>Nissan <span>350z</span></h1>
                <p>
                    Web Designer, USA Web Designer, <span>microsoft</span>USA Web Designer, USA Web Designer,
                    USA Web Designer, USA Web Designer, USA Web Designer, USA
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>250</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button>follow</button>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <h2>Nissan 350z</h2>
                <p>Web Designer, USA</p>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="~/images/8.jpg">
                <h1>Nissan <span>350z</span></h1>
                <p>
                    Web Designer, USA Web Designer, <span>microsoft</span>USA Web Designer, USA Web Designer,
                    USA Web Designer, USA Web Designer, USA Web Designer, USA
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>250</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button>follow</button>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <h2>Nissan 350z</h2>
                <p>Web Designer, USA</p>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="~/images/8.jpg">
                <h1>Nissan <span>350z</span></h1>
                <p>
                    Web Designer, USA Web Designer, <span>microsoft</span>USA Web Designer, USA Web Designer,
                    USA Web Designer, USA Web Designer, USA Web Designer, USA
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>250</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button>follow</button>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                </div>
            </div>
        </div>
    </div>
    <div style="flex-basis: 720px" class="card3D">
        <div class="card-inner3D">
            <div class="front3D">
                <h2>Nissan 350z</h2>
                <p>Web Designer, USA</p>
                <button>Hover me</button>
            </div>
            <div class="back3D">
                <img src="~/images/8.jpg">
                <h1>Nissan <span>350z</span></h1>
                <p>
                    Web Designer, USA Web Designer, <span>microsoft</span>USA Web Designer, USA Web Designer,
                    USA Web Designer, USA Web Designer, USA Web Designer, USA
                </p>
                <div class="row3D">
                    <div class="col3D">
                        <h2>12k</h2>
                        <p>Followers</p>
                    </div>
                    <div class="col3D">
                        <h2>250</h2>
                        <p>Following</p>
                    </div>
                    <div class="col3D">
                        <h2>500</h2>
                        <p>Likes</p>
                    </div>
                </div>
                <div class="row3D">
                    <button>follow</button>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                    <a href="#"> <img src="~/images/8.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>
