@model IEnumerable<HomePageViewModel>

@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1 style="background-color:aquamarine; text-align: center">Welcome to Game Store for learning purposes</h1>
</div>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
        <link rel="stylesheet" href="~/css/slickSlider.css" />
        <link rel="stylesheet" href="~/css/3DFlipCard.css" />
        <link rel="stylesheet" href="~/css/searchBar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

    <header id="tranding">
        
            <h2 class="text-center section-heading">Popular right now</h2>
        
        <div class="container">
            <div class="swiper tranding-slider">
                <div class="swiper-wrapper">
                    @foreach (var card in Model)
                    {
                        <!-- Slide-start -->
                        <div class="swiper-slide tranding-slide">
                            <a type="submit" asp-controller="Game" asp-action="Details" asp-route-id="@card.Id">

                                <div class="tranding-slide-img">
                                    <img src="//images.igdb.com/igdb/image/upload/t_cover_big/@(card.CoverUrl.imageId).jpg" alt="Tranding">
                                </div>
                                <div class="tranding-slide-content">
                                    <h1 class="food-price">$101</h1>
                                    <div class="tranding-slide-content-bottom">
                                        <h2 class="food-name">
                                            @card.Name
                                        </h2>
                                        <h3 class="food-rating">
                                            <span>@card.Rating</span>
                                            <div class="rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                            </div>
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Slide-end -->
                    }
                </div>

                <div class="tranding-slider-control">
                    <div class="swiper-button-prev slider-arrow">
                        <ion-icon name="arrow-back-outline"></ion-icon>
                    </div>
                    <div class="swiper-button-next slider-arrow">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
    </header>


    <main>
        
        <div id="partialZone">

        </div>


        <div class="three-colomns-games">
            <div class="container-small-column-games-left">
                <h3><a asp-controller="Game" asp-action="RecentlyReleasedGames">Recently released > </a></h3>
                    <div id="partialRR">

                    </div>
                
            </div>

            <div class="container-small-column-games-middle">
                <h3><a asp-controller="Game" asp-action="ReturnAllComingSoonGames">Coming soon > </a></h3>
                    <div id="partialCS">

                    </div>
            </div>

            <div class="container-small-column-games-right">
                <h3><a asp-controller="Game" asp-action="MostAnticipatedGames">Most anticipated > </a></h3>
                    <div id="partialMA">

                    </div>
            </div>

        </div>


    </main>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    @section Scripts {
        <script>
            $('#partialMA').load("/Home/RenderMostAnticipatedGames")
            $('#partialZone').load("/Home/RenderGamesMiddle")
            $('#partialCS').load("/Home/RenderGamesDownComingSoon")
            $('#partialRR').load("/Home/RenderGamesDownRecentlyReleased")
        </script>
    }

    <script src="~/js/slickeSlider.js"></script>
    </body>
</html>