@model IEnumerable<HomePageViewModel>

@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1 style="background-color:aquamarine; text-align: center">Welcome to Game Store for learning purposes</h1>
</div>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    </head>
    <body>
        <h3 style="text-decoration:underline">Top Ratet Games</h3>
    <div class="for_slick_slider center">
        @foreach (var game in Model)
        {
            <div class="items">
                <div class="card">
                    <img src="@game.CoverUrl.Url">
                    <div class="container">
                        <p class="textL"><strong>@game.Name</strong></p>
                        <p>
                            <span style="margin-right: 30px">@game.GenresInfo[0].Name</span>
                            <span style="margin-left: 50px">@game.Rating%</span>
                        </p>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        }

    </div> 
        <div class="flex-container">
            <div style="flex-grow: 1">
                <div class="card sizeCard">
                    <img src="~/images/2 (2).jpg">
                    <div class="container">
                        <p class="textL"><strong>Spong Bob</strong></p>
                        <p>
                            <span style="margin-right: 30px">Action</span>
                            <span style="margin-left: 50px">99%</span>
                        </p>
                    </div>
                </div>
            </div>
            <div style="flex-grow: 1">
                <div class="card sizeCard" style="flex-grow: 1">
                    <img src="~/images/2 (2).jpg">
                    <div class="container">
                        <p class="textL"><strong>Spong Bob</strong></p>
                        <p>
                            <span style="margin-right: 30px">Action</span>
                            <span style="margin-left: 50px">99%</span>
                        </p>
                    </div>
                </div>
            </div>
            <div style="flex-grow: 8">
                <div class="card sizeCard" style="flex-grow: 8">
                    <img src="~/images/2 (2).jpg">
                    <div class="container">
                        <p class="textL"><strong>Spong Bob</strong></p>
                        <p>
                            <span style="margin-right: 30px">Action</span>
                            <span style="margin-left: 50px">99%</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container">
            <div>
                <div class="card sizeCard" style="flex-grow: 8">
                    <img src="~/images/2 (2).jpg">
                    <div class="container">
                        <p class="textL"><strong>Spong Bob</strong></p>
                        <p>
                            <span style="margin-right: 30px">Action</span>
                            <span style="margin-left: 50px">99%</span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card sizeCard" style="flex-grow: 1">
                    <img src="~/images/2 (2).jpg">
                    <div class="container">
                        <p class="textL"><strong>Spong Bob</strong></p>
                        <p>
                            <span style="margin-right: 30px">Action</span>
                            <span style="margin-left: 50px">99%</span>
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card sizeCard" style="flex-grow: 1">
                    <img src="~/images/2 (2).jpg">
                    <div class="container">
                        <p class="textL"><strong>Spong Bob</strong></p>
                        <p>
                            <span style="margin-right: 30px">Action</span>
                            <span style="margin-left: 50px">99%</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>
        <script src="~/js/slick.min.js"></script>
        <script src="~/js/custom.js"></script>
    </body>
</html>